<div class=" col-xs-9 col-sm-9 col-md-9 col-lg-9 settings notification jscroll-program-all-set-notifications" style="margin-bottom: 0px;text-align: left; margin-top:-10px;">
  <% @notifications.each do |n| %>
  <%begin%>
  <% if n["status"] == 'pending' and cookies[:user_type]!="circle_user" %>
  <div class="n-second col-md-12">
    <div class="col-md-1">
      <img src="/assets/profile-pic.png" alt="testimg"/>
    </div>

    <div class="col-md-10">
      <h5><!-- 10 mins ago --></h5>
      <div id="accepted_content_<%=n['content_id']%>">
        <p><strong><%= find_circle_user_name_by_id[n["circle_user_id"]]%></strong> has requested to add <%= n["title"]%> to his circle.</p>
        <a class="n-btn" id="accept_<%=n['content_id']%>" href="javascript:void(0)" onclick="accept_circle_content('<%=n['content_id']%>','<%=n['catalog']=='livetv' ? 'programs' : n['catalog']%>','<%=n['circle_user_id']%>')">accept</a>

        <a class="n-btn" id="decline_<%=n['content_id']%>" href="javascript:void(0)" onclick="decline_circle_content('<%=n['content_id']%>','<%=n['catalog']=='livetv' ? 'programs' : n['catalog']%>','<%=n['circle_user_id']%>')">decline</a>
      </div>
    </div>
  </div>
<% elsif n["status"] == 'available' and cookies[:user_type]!="circle_user" %>
<div class="n-third col-md-12">
  <div class="col-md-1">
    <img src="/assets/profile-pic.png" alt="testimg"/>
  </div>

  <div class="col-md-10">
    <h5><!--30 mins ago--></h5> <h4><!--<strong>02</strong> Points--></h4>

    <p><strong><%= n["title"]%></strong> has been added to <%= find_circle_user_name_by_id[n["circle_user_id"]]%>.</p>
  </div>
  <!-- <div class="col-md-1 remove-butn" id="remove_<%#=n['content_id']%>">
    <img src="/assets/delete.png" alt="delete" title="remove"/>
  </div> -->
</div>

<%elsif n["status"] == 'available' and cookies[:user_type]=="circle_user" %>
<div class="n-third col-md-12">
  <div class="col-md-1">
    <img src="/assets/profile-pic.png" alt="profimg"/>
  </div>

  <div class="col-md-10">
    <h5><!-- 30 mins ago --></h5><h4><!-- <strong>02</strong> Points --></h4>

    <p><strong><%= n["title"]%></strong> has been added to your circle.</p>
  </div>
  <!-- <div class="col-md-1 remove-butn" id="remove_<%#=n['content_id']%>">
    <img src="/assets/delete.png" alt="delete" title="remove"/>
  </div> -->
</div>
<%end%>
<%rescue%>
<%end%>
<%end%>
<% if @notifications.length.to_i >=5%>
<div class="next">
  <a href="/circles/notifications?page=<%=@mnext.blank?  || @mnext.to_i ==1 ? "2" : @mnext %>&lazyload=true " class="jscroll-next-notifications" style="text-align:center;">Load next set of data</a>
</div>
<%end%>
</div>

<script type="text/javascript">
  $(function() {
    //Movies all continous pagination
    <% if @notifications.length.to_i >= 5 %>
    if($('.program_outer-wrap-notifications').length){
      $('.program_outer-wrap-notifications').jscroll({
        debug: true,
        autoTrigger: true,
        loadingHtml: '<div class="pl-wrap"><img src="/assets/ajax-loader.gif" alt="Loading" /></div>',
        padding : 20,
        contentSelector: '.jscroll-program-all-set-notifications',
        nextSelector: 'a.jscroll-next-notifications:last',
        refresh: true,
        callback: function(){
        }
      });
    }
    <% else %>
    $('.program_outer-wrap-notifications').jscroll.destroy();
    <% end %>
  })
</script>
<style type="text/css">
  .jscroll-added{
    margin-top: -10px !important;
  }
</style>
